@font-face {
	font-family: Roboto;
	src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  font-family: Roboto, Tahoma, sans-serif;
}

#side-hero-container {
	background: url(waterfall.jpg) right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 75vw;
  height: 100vh;
}

#side-hero-container .img-credit {
	position: absolute;
	color: white;
	bottom: 10px;
	right: 10px;
	font-size: 0.8em;
}

a {
	color: rgb(45, 181, 226);
}

.hero-banner {
  display: flex;
  height: 30vh;
  width: 100%;
  margin-top: 30vh;
	padding-right: auto;
	padding-left: auto;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-banner > * {
  align-self: center;
  justify-content: center;
  margin: 0 1.5rem 0 1.5rem;
  font-size: 2.3rem;
}

.hero-banner img {
  height: 80%;
}

form {
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  height: 1.7rem;
	width: 100%;
  border: 1px solid #e1e2e4;
  border-radius: 0.3rem;
}

.sec-1 {
	margin: 10vh 0 1.3rem 0;
}

.sec-1 p {
	margin-bottom: 2.5rem;
}

.sec-2 {
  flex-wrap: wrap;
}

.sec-3 {
	padding-top: 2rem;
}

fieldset {
	border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	margin-top: .3rem;
}

fieldset > div {
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

field-set label {
  margin-bottom: 10px;
}

button {
  background-color: #389198;
  width: 12rem;
  height: 2.5rem;
	border: 0;
	box-shadow: 3px 3px 4px #215a5e;
  border-radius: 0.5rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

input {
  height: 1.7rem;
	width: 100%;
  border: 1px solid #e1e2e4;
  border-radius: 0.3rem;
}

input:focus {
	outline: none;
	border: 2px solid #389198;
	box-shadow: 3px 3px 3px #308187;
}
input:focus:valid {
	outline: none;
	border: 2px solid #389198;
	box-shadow: 3px 3px 3px #308187;
}

input:focus:invalid {
	border: 2px solid rgb(219, 80, 80);
	box-shadow: 3px 3px 3px rgb(180, 76, 76);
}



@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #side-hero-container {
    display: flex;
    position: relative;
    top: 0;
    width: 100vw;
    height: 50vh;
  }

  .hero-banner {
    position: absolute;
    bottom: 8rem;
    height: 6rem;
  }

	form {
		position: absolute;
		top: 37vh;
		display: flex;
		flex-direction: column;
	}

	.sec-1 {
		text-align: center;
	}

	.sec-2 p {
		text-align: center;
	}

	.sec-2 > p {
		margin-bottom: 3rem;
	}

	.sec-3 {
		text-align: center;
	}
	
	fieldset > div {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}
