* {
  margin: 0;
  padding: 0;
}

body {
	display: flex;
	flex-direction: row;
}

#side-hero {
  background: url(waterfall.jpg) right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 35vw;
  height: 100vh;
}

.hero-container {
  display: flex;
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 30vh;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-container > * {
  align-self: center;
  justify-content: center;
  margin: 0 1.5rem 0 1.5rem;
  font-size: 2.3rem;
}

.hero-container img {
  height: inherit;
}

#side-hero .img-credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8em;
}

form {
	border: 1px solid green;
	padding: 1rem;
}

button {
	background-color: #389198;
	width: 12rem;
	height: 2rem;
	border-radius: .5rem;
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #side-hero {
    display: flex;
    position: relative;
    top: 0;
    width: 100vw;
    height: 50vh;
  }

  .hero-container {
    postion: absolute;
    top: 4rem;
    height: 6rem;
  }
}
